/* --------- Heading ------------- */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 100px;
    padding-right: 5px;
}

.topic-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.question-box {
  min-height: 100px;
  text-align: center;
}
.answer-option {
  text-align: left;
}


@media (min-width: 992px) {
  .topic-icon {
    width: 80px;
    height: 80px;
  }
  .logo {
    height: 120px;
}
}